
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1490772844735'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1490772844735#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1490772844735') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1490772844735') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1490772844735#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baoyou:before { content: "\e64d"; }

.icon-gouwuchekong:before { content: "\e6c3"; }

.icon-fangdajing1:before { content: "\e60a"; }

.icon-jiantou:before { content: "\e613"; }

.icon-15tian:before { content: "\e605"; }

.icon-7tian:before { content: "\e607"; }

.icon-ditu-copy:before { content: "\e633"; }

.icon-shape:before { content: "\e630"; }

.icon-fangdajing:before { content: "\e611"; }

.icon-xiangzuojiantou:before { content: "\e696"; }

.icon-gouwudai:before { content: "\e60f"; }

.icon-status-play-copy:before { content: "\e614"; }

.icon-apple:before { content: "\e643"; }

.icon-icon15:before { content: "\e60e"; }

.icon-xuangoushouji:before { content: "\e601"; }

.icon-lanmaofenleiyiyuangou:before { content: "\e72c"; }

.icon-qianfan:before { content: "\e70b"; }

.icon-youfan:before { content: "\e609"; }

.icon-youfan1:before { content: "\e620"; }

.icon-banshou:before { content: "\e659"; }

.icon-yijiuhuanxin:before { content: "\e600"; }

.icon-yijiuhuanxin1:before { content: "\e602"; }

.icon-liwu:before { content: "\e623"; }

.icon-dianhuaqia:before { content: "\e77c"; }

