
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1496200157559'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1496200157559#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1496200157559') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1496200157559') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1496200157559#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:50px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before { content: "\e64a"; }

.icon-right:before { content: "\e719"; }

.icon-iconfonticonfontleft:before { content: "\e60f"; }

